.review{
    width: 800px;
    margin: auto;
   
}
#img {
    width: 300px;
    height: 300px;
}
.review_wrap div{
	display: inline-block;
	vertical-align: middle;
}
.review_title{
	height:40px;
	width: 100px;
	background-color: #f5f5f5;
	line-height: 40px;
	text-align: center;
	}
.class_reviewtitle{
	height: 454px;
	line-height: 454px;
}
.class_reviewthumb{
	background-color: #f5f5f5;
	height: 300px;
	line-height: 300px;
}
.review_buttons{
	text-align: center;
	margin-top: 20px;
}
.review_buttons button{
	height: 30px;
	width: 100px;
	border-radius: 10px;
	border: 1px solid lightgray;
}
.file_box label {
    display: inline-block;
    color: black;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 2px dotted black;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 100px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
.file_box input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
@media (max-width: 800px) {
    .review{
        width: 90%;
    }
    #img{
        width: 200px;
        height: 300px;
    }
}

.staR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
  border: 0;
	margin: 0;
}
.staR.on{
	background-position:0 0;
	
	}