@charset "UTF-8";

.classview_wrap{
 	width: 500px;
 	margin: auto;	
 	padding-top: 70px;
 	height: 600px;
}
.pay_sub{
	margin-bottom:30px;
	text-align: center;
}
.pay_sub div{
	font-size: 30px;
}
.classview_wrap img{
	width: 200px;
	height: 180px;
}
.pay_info{
	display: flex;
	align-items:center;
	justify-content: center;
	
}
.pay_info div:nth-child(2) div{
	margin-left:20px;
	padding: 5px;
}
section {
	min-height: 100%;
}
.pay_btn {
	margin-top:40px;
	text-align: center;

}
.pay_btn button{
	letter-spacing:3px;
	width: 200px;
	height: 50px;
	font-size:20px;
	border-radius: 5px;
	background: #d24729;
	border: 1px solid #d24729;
	color:white;
}

