@charset "UTF-8";

.classview_wrap{
 	width: 500px;
 	margin: auto;	
 	padding-top: 70px;
 	height: 600px;
}
.pay_sub{
	text-align: center;
}
.pay_sub div{
	font-size: 30px;
}
.classview_wrap img{
	width: 150px;
	height: 150px;
}
.pay_info{
	display: flex;
	align-items:center;
	justify-content: center;
	
}
.pay_info div:nth-child(2) div{
	padding: 5px;
}
section {
	min-height: 100%;
}
.pay_btn {
	text-align: center;

}
.pay_btn button{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background: black;
	border: 1px solid black;
	color:white;
}

