@charset "UTF-8";

.classview_wrap{
 	width: 1000px;
 	margin: auto;	
 	padding-top: 70px;
 	 position: relative; 
 	overflow: hidden;
}
.class_wrap3{
	width: 540px;
}
.class_wrap2{
	display: flex;
}
.main_pic{
	width: 520px;
	height: 520px;
}
.main_pic img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.class_content, .class_map, .class_refund, .class_review{
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
}
.contents img{
	max-width: 100%;
	height: auto;
}
.cancle_policy td{
}

.class_wrap2{
	position: relative;
}
 .reserve_bar{
	/*  position: absolute; */
	  position:sticky; 
	width: 440px;
	height: 395px;
	 top:0; 
	padding: 10px 10px;
	margin-left: 0;
	box-shadow: 1px 2px 8px 0px black;
	border-radius: 5px;
 }
 .cancle_policy{
 }
 .cancle_policy td{
 	width: 300px;
 	font-size: 18px;
 	height: 30px;
 }
/* .reserve_barfixed{
	position: absolute; 
	 position:fixed; 
	border: 1px solid black;
	width: 470px;
	height: 395px;
	right:0; 
	 left:830px; 
	padding: 10px 10px;
} */
.category_tag, .className_tag, .storeName_tag{
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.category_tag{
	color: gray;
}
.price_tag{
	margin-bottom: 10px;
}
.price_tag div{
	display: inline-block;
}
.price_tag div:nth-child(3){
	text-decoration:line-through; 
}

.class_info{
	display: flex;
	width: 420px;
	height: 100px;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid lightgray;
	margin-top:25px;
}
.class_info div{
	width: 35%;
	border-right: 1px solid lightgray;
}
.class_info div:nth-child(3){
	border-right:0;
}
.class_info div > div{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-right: 0;
}
.reserve_btn{
	margin-top: 30px;
}
.reserve_btn button{
	letter-spacing:3px;
	color:white;
	width: 100%;
	height: 50px;
	font-size: 25px;
	border-radius: 10px;
	border: 1px solid #d24729;
	background: #d24729;
}
#map{
	z-index:0;
}

/*    달력 CSS       */
/* #calander_backcolor{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index :1;
    background-color: black;
    opacity: 0.5;
} */
/* #box{
    display: none;
    position: fixed;
    width: 770px;
    height: 400px;
    top:50%;
    left: 50%;
  	z-index: 2;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
} */
#box2{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.main{
    width: 100%;
    display: block;
}
.sun{
    width: 100px;
}
.content-left{
    background: #0b0809;
    color:#ddaf35;
    float: left;
    width: 100%;
    padding: 30px;
}
.main-wrap{
    text-align: center;
    padding: 20px 0 0 0;
}
.main-day{
    font-size: 30px;
    font-weight: bold;
}
.main-date{
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0;
}
.todo-wrap{
    padding: 0 0 0 40px;
}
.todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.input-box{
    width: 50%;
    margin-right: 20px;
    height: auto;
    background: #0b0809;
    color: #ddaf35;
    line-height : normal;
    padding: .8em .5em 0 0;
    font-family: inherit;
    border: 0;
    border-bottom: 1px dashed #ddaf35;;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input-data{
    cursor: pointer;
    font-size: 10px;
   padding: 10px; 
    margin: 10px 0 10px 0;
    background: #ddaf35;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}
.input-data:hover{
    background: #ffffff;
    color: #0b0809;
}
.input-list > div{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #ddaf35;
}
.input-list > .checked{
    color: #FFFFFF;
    text-decoration:line-through
}
.del-data{
    display: block;
    color: #ddaf35;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: #0b0809;
    border: none;
    border-radius: 10px;
}
.content-right{
	
	width:530px;
    float: left;
    /* width: 53%; */
    padding: 10px;
}
#calendar{
	width: 100%
}
.content-right td{
    /* width: 70px; */
    height: 60px;
    text-align: center;
    font-size: 20px;
}
.active{
    background: #0b0809;
    border-radius: 50%;
    color: #ffffff;
}

#next,#prev{
    cursor: pointer;
}
.abled_td{
    cursor: pointer;
}
.abled_td:HOVER{
    background-color: #FACB87;
    border-radius: 55%;
}
.clicked_td{
    border: 3px solid #FACB87;
    border-radius: 55%;
}
.dateInput{
 
}
/*.time{*/
/*    position: absolute;*/
/*    top:5%;*/
/*    right: 45%;*/
/*}*/
/* .time_wrap{
	width: 100%;
	text-align: center;
}
.time_main{
	margin-top: 10px;
}

.time_main div{
  	height: 30px;
	border: 1px solid black;
	line-height: 30px;
}
.timesetting{
	border: 1px solid black;
	height: 250px;
	padding-top: 10px;
} */
.store{
    
}
.store div{
   
}
/* .timeSet div{
	display: inline-block;
}
.timeset2 div{
	display: inline-block;
}
.timeSet_wrap{
	height: 70px;
	border: 1px solid black;
}
.timeSet input{

} */
.cal{
	background-color:white;
	position:absolute;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	top:70px;
	right: -100%;
}
#timeChoice{
	border: 1px solid black;
	height: 70px;
	width: 600px;
	line-height: 70px;
}
#timebox{
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#push_text{
	width: 300px;
	border: 1px solid black;
	height: 70px;
	line-height: 70px;
}
#timeChoice2{
	position:absolute;
	width: 510px;
	/* height:361px; */
	height: 0;
	border: 1px solid black;
	top:70px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

}
.time_wrap{
	width: 250px;
}
.time_detail{
	height: 60xp;
	padding: 10px 10px;
}
.time_detail1{
	text-align: left;
}
.time_detail2{
	margin-top:5px;
	text-align: left;
	}
.time_detail2 div{
	display: inline-block;
}
.time_detail2 div:nth-child(2){
     margin-left: 120px;
}
.pay_button{
	width: 300px;
}
section {
	min-height: 100%;
}
.staR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-indent: -9999px;
  border: 0;
	margin: 0;
}
.staR.on{
	background-position:0 0;
	}
/* #hide{
	display:none;
} */
.reviewimg{
	width: 100px;
	height:80px;
	
	
}
.reviewimg img{
	width: 100%;
	height:100%;
	
}
/* .reviewCon{
  width:100%;
  height:100%;
  background:pink;
  visibility:hidden;
} */
/* .close {
  display:block;
  background-image:url('https://s.pstatic.net/static/www/img/2017/sp_nav_v170523.png');
  width: 42px;
  height: 16px;
  background-position: -166px -78px;
} */
.topReview5{
	display:none;
	width: 300px;
	height: auto
	border: 1px solid black;
	}
.topReviewALL div{
	display:inline-block;
}
#subject{
	display: block;
}
