@charset "UTF-8";

section{
	min-height: 100%;
}

.pic{
	width: 100%;
	height: 500px;
	background-image: url("../images/coffee1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.my_wrap{
    padding-top: 70px;
    display: flex;
    width: 1000px;
    margin: auto;
}
.side_menu{
    width: 150px;
}
.side_detail div{
    display: inline-block;
}
.side_detail2{
    padding-left: 66px;
}
.my_main{
    width: 820px;
    margin: auto;
}
.best-class{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    width: 220px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0px 2px 2px 1px gray;
    position: relative;
}

.thumbnail{
    width: 220px;
    height: 250px;
    border-radius: 15px;
    /* background-size: 100% 100%; */
    overflow: hidden;
    
    
}
.thumbnail img{
	
	width: 100%;
	height: 100%;
	transform:scale(1.0);
	transition:transform .3s;
}
.thumbnail img:hover{
	transform:scale(1.2);
	transition:transform .5s;
	
}
.like_image{
	position:absolute;
	bottom: 0px;
	right:6px;
	width:70px;
	height: 40px;
	color:white;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
}
.like_image img{
	width: 25px;
	height: 25px;
	transform:scale(1.0);
	transition:transform .3s;
}
.like_image img:hover{
	transform:scale(1.2);
	transition:transform .5s;
}
.class-name{
    text-align: left;
    padding: 5px;
}
.class-name2{
	margin-bottom: 20px;
	height: 30px;
}
.line{
	margin-top : 15px;
	border: 1px solid black;
	width:100%;
	height: 1px;
	margin-bottom: 10px;
}
.current_menu{
	font-weight: bold;
	font-size: 20px;
}
.current_menu2{
	font-weight: bold;
	color : gray;
	font-size: 15px;
}

.like{
	background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
	margin: 0;
	padding: 0;
	border: 0;
	
}
.staR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-indent: -9999px;
  border: 0;
	margin: 0;
}
.staR.on{
	background-position:0 0;
	
	}
