*{
	box-sizing: border-box;
}

.member-login{
    margin: auto;
    width: 400px;
    text-align: center;
    margin-top: 60px;
}
.login_text{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_box{

}
.login_box input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 8px;
    font-size: 17px;
}
.login_choice{
    text-align: center;
    width: 100%;
    height: 50px
}
.member, .store{
	border: 1px solid black;
}
.member:hover{cursor: pointer;}
.store:hover{cursor: pointer;}
.member{
	background-color: lightgray;
}
.login_button button{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    font-size: 30px;
    letter-spacing: 4px;
}
#form2{
    display: none;
}
.login_choice div{
    display: inline-block;
}
.login_choice div:hover{
    cursor: pointer;
}