*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.join{
    width: 1000px;
    margin: auto;
    text-align: center;
    padding-top: 200px;
}
section{
	min-height: 100%;
}
.join a{
	color:gray;
}
.member, .store{
    display: inline-block;
    width:300px;
    height: 250px;
    border: 1px solid black;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    border-radius: 5px;
}
.member_sub{
 	height: 30px;
 	line-height: 30px;
}
.member img{
	margin-top:70px;
	width: 60px;
	height:	60px;
}
.store_sub{
 	height: 30px;
 	line-height: 30px;
}
.store img{
	margin-top:70px;
	width: 60px;
	height:	60px;
}
section{
	min-height: 100%;
}
