@charset "UTF-8";


.pic{
	width: 100%;
	height: 500px;
	background-image: url("../images/coffee1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.my_wrap{
    padding-top: 70px;
    display: flex;
    width: 1000px;
    margin: auto;
}
.side_menu{
    width: 150px;
}
.side_detail div{
    display: inline-block;
}
.side_detail2{
    padding-left: 66px;
}
.my_main{
    width: 820px;
    margin: auto;
    margin-top: 0;
}
.class-name{
    text-align: left;
    padding: 5px;
}
.class-name2{
	margin-bottom: 20px;
	height: 30px;
}
.line{
	margin-top : 15px;
	border: 1px solid black;
	width:100%;
	height: 1px;
	margin-bottom: 10px;
}
.current_menu{
	font-weight: bold;
	font-size: 20px;
}
.current_menu2{
	font-weight: bold;
	color : gray;
	font-size: 15px;
}
.qna_wrap{
	margin-top: 20px;
}
.qna_menu1,.qna_menu2,.qna_menu3,.qna_menu4,.qna_menu5{
	cursor: pointer;
}
.qna_menu1-1, .qna_menu1-2, .qna_menu1-3, .qna_menu1-4,.qna_menu1-5{
	margin-top:10px;
	padding:10px;
	display:none;
	border: 1px solid gray;
	height: 0;
}
