#img {
    width: 300px;
    height: 300px;
}
.class_wrap{
	width: 800px;
	margin: auto;
	padding-top: 70px;
}
.class_title{
	height:40px;
	width: 100px;
	background-color: #f5f5f5;
	line-height: 40px;
	text-align: center;
}

.class_menu div{
	display: inline-block;
	vertical-align: middle;
}
.class_content{
	height: 454px;
	line-height: 454px;
}
.class_img{
	background-color: #f5f5f5;
	height: 300px;
	line-height: 300px;
}
.class_input{
	width: 50px;
}
.class_buttons{
	text-align: center;
	margin-top: 20px;
}
.class_buttons button{
	height: 30px;
	width: 100px;
	border-radius: 10px;
	border: 1px solid lightgray;
}
.file_box label{
    display: inline-block;
    color: black;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 2px dotted black;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 100px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
.file_box input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/*    �떖�젰 CSS       */
#calander_backcolor{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
#box{
    display: none;
    position: fixed;
    width: 770px;
    height: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
}
.main{
    width: 100%;
    display: block;
}
.sun{
    width: 100px;
}
table{
    width: 370px;
    height: 370px;
}
.content-wrap{
    width: 420px;
    margin:0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    float: right;
}
.content-left{
    background: #0b0809;
    color:#ddaf35;
    float: left;
    width: 100%;
    padding: 30px;
}
.main-wrap{
    text-align: center;
    padding: 20px 0 0 0;
}
.main-day{
    font-size: 30px;
    font-weight: bold;
}
.main-date{
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0;
}
.todo-wrap{
    padding: 0 0 0 40px;
}
.todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.input-box{
    width: 50%;
    margin-right: 20px;
    height: auto;
    background: #0b0809;
    color: #ddaf35;
    line-height : normal;
    padding: .8em .5em 0 0;
    font-family: inherit;
    border: 0;
    border-bottom: 1px dashed #ddaf35;;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #ddaf35;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}
.input-data:hover{
    background: #ffffff;
    color: #0b0809;
}
.input-list > div{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #ddaf35;
}
.input-list > .checked{
    color: #FFFFFF;
    text-decoration:line-through
}
.del-data{
    display: block;
    color: #ddaf35;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: #0b0809;
    border: none;
    border-radius: 10px;
}
.content-right{

    float: left;
    width: 53%;
    padding: 10px;
}
.sun{
    color:#ef3333;
}
.sat{
    color:#2107e0;
}
.content-right table tr td{
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.active{
    background: #0b0809;
    border-radius: 50%;
    color: #ffffff;
}

#next,#prev{
    cursor: pointer;
}
.abled_td{
    cursor: pointer;
}
.abled_td:HOVER{
    background-color: #FACB87;
    border-radius: 55%;
}
.clicked_td{
    border: 3px solid #FACB87;
    border-radius: 55%;
}
.box{
    display: inline-block;
}
.dateInput{
    display: inline-block;
}
/*.time{*/
/*    position: absolute;*/
/*    top:5%;*/
/*    right: 45%;*/
/*}*/
.time_main div{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub_plus{
    margin-left: 177px;
}
.sub_plus div{
    display: none;
    font-weight: bold;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.sub_plus div:hover{
    cursor: pointer;
    background: grey;
}
.store{
    position: fixed;
    bottom: 30px;
    right: 50px;
}
.store div{
    display: inline-block;
}
.timeSet{
    text-align: center;
    margin-left: 405px;
    margin-right: 30px;
}
.timeSet input{
    width: 100px;
    margin-bottom: 15px;
}

section {
	min-height: 100%;
}
