.member_join{
    margin: auto;
    width: 400px;
    text-align: center;
    margin-top: 60px;
}
.join_main{
    margin-top: 20px;
}
.join_sub{
	font-size: 25px;
	letter-spacing: 3px;
}
.join_text{
	background:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	letter-spacing: 2px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 8px;
    font-size: 17px;
    padding-left: 8px;
}
.join_text2{
    margin-bottom: 10px;
}
.join_text2 input[type=email]{
	background:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	letter-spacing: 2px;
    width: 70%;
    height: 50px;
    font-size: 17px;
    padding-left: 8px;
}
.join_text2 input[type=text]{
	background:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	letter-spacing: 2px;
    width: 70%;
    height: 50px;
    font-size: 17px;
    padding-left: 8px;
}
.join_text2 input[type=button]{
	background:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	letter-spacing: 2px;
    width: 28.5%;
    height: 50px;
    font-size: 17px;
}
.join_text3 input:nth-child(1){
	background:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	letter-spacing: 2px;
    width: 60%;
    height: 50px;
    font-size: 17px;
    padding-left: 8px;
}
.join_text3 input:nth-child(2){
	background:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	letter-spacing: 2px;
    width: 38.5%;
    height: 50px;
    font-size: 17px;
    padding-left: 8px;
}
.join_text4 input{
	background:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	letter-spacing: 2px;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: 4px;
}
.logo_pic{
	width: 200px;
	height: 70px;
	margin-bottom: 20px;
}
section {
	font-family: 'Noto Sans JP', sans-serif;
	min-height: 100%;
}