*{
    box-sizing: border-box;
}
a{
	text-decoration: none;
	color:;
}
li{
    list-style: none;
}
body{
    margin: 0px;
    height: auto;
}
.head{
    margin: auto;
    width: 1000px;
    height: 140px;
}
.login_bar{
    width: 1000px;
    padding-top: 29px;
    text-align: right;
    padding-bottom: 15px;
    margin: auto;
}
.login_bar div{
    font-size: 19px;
    color: #B7B4B2;
    font-weight: bold;
    display: inline-block;
}
.login_bar a:link{
	color: #B7B4B2;
}
.login_bar a:visited{
	color: #B7B4B2;
}
.login_bar div::after{
    padding-left: 15px;
    padding-right: 15px;
    content: "|";
}
.login_bar div:last-child::after{
    content: "";
}
h1{
    text-align: center;
}
.search-bar{
    text-align: center;
}
.search-bar form{
    display: inline-block;
    border: 1px solid blue;
}
.search-title{
    display: inline-block;
    margin-right: 15px;
}
.nav_wrap{
    width: 1000px;
    height: 70px;
    line-height: 70px;
}
.nav-bar , .main_logo{
    display: inline-block;
}
.main_logo{
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
}
.main_logo a:link{
	color : black;
}
.main_logo a:visited{
	color : black;
}
.nav-bar{
    padding-left: 450px;
    font-size: 25px;
    font-weight: bold;
}
.nav-bar div{
    text-align: center;
    width: 100px;
    display: inline-block;
    margin: 0px;
    position: relative;
}
.sub_menu{
    display: none;
    opacity: 0;
    top : 45px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    z-index: 4;
    padding: 0;
    margin: 0;
    position: absolute;
}

.sub_menu li{
    width: 100px;
    margin-top:5px;
    margin-bottom:5px;
    height: 30px;
}
.sub_background {
    display: none;
    position: absolute;
    background-color: white;
    top: 140px;
    width: 100%;
    z-index: 2;
    height: 0px;
    opacity: 0;
    border-bottom: 1px solid grey;
}
@media (max-width: 800px) {
    .login_bar{
        display: none
    }
}